<?xml version="1.0" encoding="UTF-8"?>
<!--web-app metadata-complete="true"... ignora las anotaciones para toda la app -->
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee         http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <!--servlet>
        <servlet-name>
            RegistroCliente
        </servlet-name>
        <servlet-class>
            mx.com.develop.store.controller.RegistroCliente
        </servlet-class>
        <init-param>
            <param-name>servletParam1</param-name>
            <param-value>servletValue1</param-value>
        </init-param>
        <init-param>
            <param-name>servletParam2</param-name>
            <param-value>servletValue2</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>
            RegistroCliente
        </servlet-name>
        <url-pattern>
            /registro_cliente.view
        </url-pattern>
    </servlet-mapping-->
    <!--
        Prioridad...
        1. web.xml
        2. web-fragment.xml
        3. @annotations
    -->
    <servlet>
        <servlet-name>
            Captcha
        </servlet-name>
        <servlet-class>
            mx.com.develop.store.controller.Captcha
        </servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>
            Captcha
        </servlet-name>
        <url-pattern>
            /captcha.jpg
        </url-pattern>
        <url-pattern>
            /captcha.view
        </url-pattern>
    </servlet-mapping>
    <context-param>
        <param-name>captcha1</param-name>
        <param-value>flirc</param-value>
    </context-param>
    <context-param>
        <param-name>captcha2</param-name>
        <param-value>unnedou</param-value>
    </context-param>
    <context-param>
        <param-name>captcha3</param-name>
        <param-value>dultne</param-value>
    </context-param>
    <session-config>
        <session-timeout>15</session-timeout>
    </session-config>
    <error-page>
        <location>/error/exception.jsp</location>
        <exception-type>java.lang.Exception</exception-type>
    </error-page>
    <error-page>
        <location>/error/404.jsp</location>
        <error-code>404</error-code>
    </error-page>
    <jsp-config>
        <jsp-property-group>
            <url-pattern>/*</url-pattern>
            <scripting-invalid>false</scripting-invalid>
        </jsp-property-group>
        <jsp-property-group>
            <url-pattern>/ventas/detalles_producto.jsp</url-pattern>
            <el-ignored>false</el-ignored>
        </jsp-property-group>
    </jsp-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
